@page "/Playlist"
@rendermode InteractiveServer
@inject IJSRuntime JSRuntime
@using QMYoga.Models
@using QMYoga.Context
@using Microsoft.AspNetCore.Components
@using Microsoft.EntityFrameworkCore
<link href="PlaylistStyle.css" rel="stylesheet" />

<SearchBar DefaultSelectedTags=@SearchTags/>

@foreach (var playlist in _Playlists)
{
    <div class="split" style="margin-top: 1em;">
        <div class="container">
            <div>
                <p class="section-title">Ny</p>
            </div>
            <div class="row align-items-center">
                
                <div class="col-6 col-md-4 col-lg-3 position-relative image-overlay-container">
                <a href="#">
                    <img src="https://www.ekhartyoga.com/media/image/articles/Laia_Bove_Mermaid-pose.jpg" alt="image" class="img-thumbnail base-image">
                    <img src="https://img.freepik.com/premium-vector/free-vector-padlock-icon-lock-locked_901408-572.jpg" alt="lock" class="img-thumbnail overlay-image">
                </a>
                </div>

                <div class="col">
                    <div class="row">
                        <h1 class="playlist-title">@playlist.Name</h1>
                    </div>
                    <div class="row button-group">
                        <div class="col-6 col-sm-6 col-md-3 mb-2">
                            <button class="btn btn-custom">Nakke</button>
                        </div>
                        <div class="col-6 col-sm-6 col-md-3 mb-2">
                            <button class="btn btn-custom">Yoga</button>
                        </div>
                        <div class="col-6 col-sm-6 col-md-3 mb-2">
                            <button class="btn btn-custom">Kick</button>
                        </div>
                        <div class="col-6 col-sm-6 col-md-3 mb-2">
                            <button class="btn btn-custom">Punch</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Collapsible Content (Text + Carousel) -->
            <div class="row" style="@GetDisplayStyle(playlist.IsVisible)">
                <div class="row">
                <div class="col-md-4 col-sm-0"></div>
                <div class="col-md-8 col-sm-12">
                    <p class="description-text">@playlist.Description</p>
                </div>
                </div>
                <div class="row">
                    <div class="col-12 position-relative">
                        <div class="scroll-carousel d-flex" id="carouselContainer@(playlist.Id)">
                            @foreach (var video in playlist.Videos)
                            {
                                <a href="#">
                                    <div class="carousel-image">
                                        <img src="@video.Url" alt="@video.Title">
                                    </div>
                                </a>
                            }
                        </div>

                        <!-- Carousel Controls -->
                        <button class="carousel-control-prev" type="button" @onclick="() => ScrollCarousel(-1, playlist.Id)">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" @onclick="() => ScrollCarousel(1, playlist.Id)">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>

            <!-- Toggle Button -->
            <div class="text-center mt-4">
                <button class="btn btn-toggle" @onclick="() => ToggleContent(playlist.Id)">Show</button>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    [SupplyParameterFromQuery(Name = "tags")]
    public string? SearchTagsString { get; set; }

    private List<QMYoga.Components.SearchBar.Tag> SearchTags {get;set;} = [];

    private bool isContentVisible = false;
    private string toggleButtonText = "Show";
    [Inject]
    public QMYogaContext Context { get; set; }

    public List<Models.Playlist> _Playlists { get; set; }


    protected override void OnInitialized()
    {
        //ReplaceData();
        _Playlists = Context.Playlists.Include(x => x.Videos).ToList();
    }

    private void ToggleContent(int id)
    {
        var playlist = _Playlists.FirstOrDefault(s => s.Id == id);
        if (playlist != null)
        {
            playlist.IsVisible = !playlist.IsVisible;
        }
    }

    private string GetDisplayStyle(bool isVisible)
    {
        return isVisible ? "display: block;" : "display: none;";
    }


    private void ScrollCarousel(int direction, int id)
    {
        JSRuntime.InvokeVoidAsync("scrollCarousel", direction, id);
    }

    protected override void OnParametersSet()
    {
        if (SearchTagsString is not null) {
            Console.WriteLine(SearchTagsString);
            SearchTags = SearchTagsString
                .Split("|||")
                .Select(text => new QMYoga.Components.SearchBar.Tag{Text = text})
                .ToList();
        }
    }
}
